<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	   
    
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
        <property name="typeAliasesPackage" value="com.wemakeprice.vo" />
        <!--매퍼에 관련된 자원의 위치를 나열한다. 이 프로퍼티는 마이바티스의 XML매퍼 파일들의 위치를 지정하기 위해 사용될 수 있다. 
        	디렉터리 아래 모든 파일을 로드하기 위해 앤트(Ant) 스타일의 패턴을 사용할수도 있고 
        	가장 상위 위치를 지정하는 것으로 재귀적으로 하위 경로를 찾도록 할수도 있다. -->        
        <property name="mapperLocations" value="classpath:mybatis/sql/*-mapper.xml" />
    </bean>

	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg ref="sqlSessionFactory"/>
    </bean>
    
    <bean id="baseDao" class="com.wemakeprice.hierarchy.dao.BaseDao">
    	<property name="sqlSessionTemplate" ref="sqlSessionTemplate" /> 
    </bean>	
     
	<!-- mybatis mapper auto scanning 
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.mobiconsoft.dashboard.mapper" />
	</bean>     
	-->
    
    <!-- 
    <bean id="baseDao" class="com.wemakeprice.dao.BaseDao">
    	<property name="sqlSessionFactory" ref="sqlSessionFactory" /> 
    </bean>
     -->

	  
</beans>


